<!DOCTYPE html>
<html>

<head>
    <title>Learning Python</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="heading">
        <a href="">
            <img src="static/images/home/logo.png">
        </a>
    </div>
    <h1>Learning Python</h1>
    <h2> This is where I store my python projects!</h2>
    <div class="container">
        <a href="/basic/">
            <img src="static/images/home/l1.png">
            <p>Basic</p>
        </a>
        <a href="/intermediate/">
            <img src="static/images/home/l2.png">
            <p>Intermediate</p>
        </a>
        <a href="/advanced/">
            <img src="static/images/home/l3.png" style=" filter: grayscale(100%)">
            <p>Advanced</p>
        </a>
    </div>
</body>

</html>